[run]
include =
        ./*
omit =
        *asgy*
        *__init__*
        *wsgi*
        *routing*
        *setup*
[report]
exclude_lines =
        pragma: no cover
        if __name__ == .__main__.:
[html]
directory = coverage_html_report