tipboard.egg-info/
/.idea/*
*.pyc
*.swp
*/__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
src/tipboard/app/Config/dev_properties.json
