tipboard.egg-info/
/.idea/*
/.coverage
.eggs/
.idea/
*TODO.md
*/__pycache__/
/tipboard2.0.egg-info/
src/sensors/__pycache__/
src/tipboard/__pycache__/
src/tipboard/app/__pycache__/
src/tipboard/app/views/__pycache__/
src/tipboard/db.sqlite3
src/tipboard/templates/__pycache__/
src/tipboard/webserver/__pycache__/
src/tipboard/app/Config/dev_properties.json
/src/tipboard/app/Config/tmp/
/src/tipboard/templates/tmplinear.html
tipboard2.0.egg-info/
*.pyc
*.swp
/coverage_html_report/
/src/tipboard/templates/videoworking.html
/src/tipboard/templates/tmplinear_radial.html
