django==2.2.7
django-cors-headers==3.2.0
django_prometheus==1.1.0
channels==2.3.1
channels_redis==2.4.1
asgiref==3.2.3
PyYAML==5.1.2
redis==3.3.11
piwikapi==0.3
twine==3.0.0
requests==2.22.0
apscheduler==3.6.3
pytest==5.3.0