django-cors-headers==3.2.1
django==3.0.2
django_prometheus==1.1.0
channels==2.4.0
channels_redis==2.4.1
asgiref==3.2.3
PyYAML==5.3
redis==3.3.11
piwikapi==0.3
twine==3.1.1
requests==2.22.0
apscheduler==3.6.3
pytest-django==3.8.0
pytest==5.3.2
