django==2.2.6
django-prometheus==1.1.0
django-cors-headers==3.1.1
channels==2.3.0
channels_redis==2.4.0
asgiref==3.2.3
PyYAML==5.1.2
redis==3.3.11
piwikapi==0.3
twine==2.0.0
apscheduler==3.6.1
pytest==5.2.2