<div class="tile highlighter-tile big_value_tile" id="{{ tile_id }}">
    <div class="tile-header">
        <h3 >{{ title }}</h3>
    </div>
    <div class=".container" style="height: 100%;">
        <div class=".row" id="header_bv" style="height: 25%;">

            <div class="row h-100 my-auto" style="text-align: center">
                <div class="col-sm-12 my-auto">
                    <h4 id="{{ tile_id }}-title" class="mx-auto text-white" style="margin-top: 2%"></h4>
                    <h4 id="{{ tile_id }}-description" class="mx-auto text-white"></h4>
                </div>
            </div>

        </div>

        <div class=".row" id="body_bv" style="height: 45%;display: flex;align-items: center;justify-content: center">
            <div class="row h-100 w-100">
                <div class="col-md-12 my-auto" style="justify-content: center">
                    <p class="h1 display-1 text-white" id="{{ tile_id }}-big-value" style="width: 100%;text-align: center"> </p>
                </div>
            </div>
        </div>


        <div class=".row w-100" style="display: inline-flex; justify-content: center ;text-align: center; height:30%;">
            <div class="column1 w-100 m-1" style="">
                <div class="row">
                    <div id="{{ tile_id }}-upper-left-label" class="text-white" style="width:66%">
                    </div>
                    <div id="{{ tile_id }}-upper-left-value" class="text-white" style="width:34%">
                    </div>
                </div>
                <div class="row">
                    <div id="{{ tile_id }}-lower-left-label" class="text-white" style="width:66%">
                    </div>
                    <div id="{{ tile_id }}-lower-left-value" class="text-white" style="width:34%">
                    </div>
                </div>
            </div>
            <div style="border-left:1px solid #ffffff;width: 2px" class="m-2"></div>
            <div class="column1 w-100 m-1" style="float: right">
                <div class="row">
                    <div id="{{ tile_id }}-upper-right-label" class="text-white" style="width:66%">
                    </div>
                    <div id="{{ tile_id }}-upper-right-value" class="text-white" style="width:34%">
                    </div>
                </div>
                <div class="row">
                    <div id="{{ tile_id }}-lower-right-label" class="text-white" style="width:66%">
                    </div>
                    <div id="{{ tile_id }}-lower-right-value" class="text-white" style="width:34%">
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
