<div class="tile" id="{{ tile_id }}" style="height: 100%;display: flex; flex-direction: column">
    <div class="tile-header" style="flex : 0 0 36px; border-bottom: 1px solid rgba(255,255,255,0.1);">
        <h3 style="text-overflow: ellipsis;width: 99%;white-space: nowrap;">{{ title }}</h3>
    </div>
    <div style="flex: 1 0 0;display: flex; flex-direction: column;">

        <div id="head-{{ tile_id }}" style="flex-grow: 1;">
            <div class=".container-fluid">
                <div class=".row h-70" style="height: 70%">
                    <h2 id="{{ tile_id }}-title" class="mx-auto text-white" style="flex-grow: 1;"></h2>
                </div>
                <div class=".row h-30" style="height: 30%;">
                    <h6 id="{{ tile_id }}-description" class="text-white" style=""></h6>
                </div>
            </div>
        </div>

        <div id="body-{{ tile_id }}" style="flex-grow: 7; background-color: orange; display: flex; align-items: center;justify-content: center;">
            <div class="display-3 text-white" id="{{ tile_id }}-big-value" style=""></div>
        </div>

        <div id="bott-{{ tile_id }}" style="flex-grow: 3;display: flex;">
            <div style="flex : 1 0 0;display: flex;flex-direction: column;padding: 2%;">
                <div style="flex-grow: 1;align-content: stretch;align-items: center;display: flex; flex-direction: row;">
                    <div id="{{ tile_id }}-upper-left-label" class="text-white" style="flex-grow: 1;flex-shrink:0;"></div>
                    <div id="{{ tile_id }}-upper-left-value" class="text-white" style="flex-grow: 1;display: flex;justify-content:flex-end;flex-shrink:0"></div>
                </div>
                <div style="flex-grow: 1;align-content: stretch;align-items: center;display: flex; flex-direction: row;">
                    <div id="{{ tile_id }}-lower-left-label" class="text-white" style="flex-grow: 1;flex-shrink:0"></div>
                    <div id="{{ tile_id }}-lower-left-value" class="text-white" style="flex-grow: 1;display: flex;justify-content:flex-end;flex-shrink:0"></div>
                </div>
            </div>
            <div class="m-2" style="border-left:1px solid #b4b4b4;" ></div>
            <div style="flex : 1 0 0;display: flex;flex-direction: column;padding: 2%">
                <div style="flex-grow: 1;align-content: stretch;align-items: center;display: flex; flex-direction: row;">
                    <div id="{{ tile_id }}-upper-right-label" class="text-white" style="flex-grow: 1"> </div>
                    <div id="{{ tile_id }}-upper-right-value" class="text-white" style="flex-grow: 1;display: flex;justify-content:flex-end"></div>
                </div>
                <div style="flex-grow: 1;align-content: stretch;align-items: center;display: flex; flex-direction: row;">
                    <div id="{{ tile_id }}-lower-right-label" class="text-white" style="flex-grow: 1;align-content: stretch;"></div>
                    <div id="{{ tile_id }}-lower-right-value" class="text-white" style="flex-grow: 1;display: flex;justify-content:flex-end;align-content: stretch;"></div>
                </div>
            </div>
        </div>

    </div>
</div>
