<div class="tile" id="{{ tile_id }}" style="height: 100%;display: flex; flex-direction: column">
    <div class="tile-header" style="flex : 0 0 36px;">
        <h3 style="text-overflow: ellipsis;width: 99%;white-space: nowrap;">{{ title }}</h3>
    </div>
    <div style=" flex: 1 0 0;display: flex; flex-direction: column;height: 100%;">
        <div id="head-{{ tile_id }}" style="flex-grow: 1;">
            <h2 id="{{ tile_id }}-title"></h2>
            <h6 id="{{ tile_id }}-subtitle"></h6>
        </div>
        <div id="body-{{ tile_id }}" style="flex-grow: 10; display: flex; align-items: center;justify-content: center;">
            <div class="row" >
                <div class="col-md-12 my-auto">
                    <p class="display-1 text" id="{{ tile_id }}-just-value" > </p>
                </div>
            </div>
        </div>
    </div>
</div>
