<div class="tile highlighter-tile simple-percentage-tile" id="{{ tile_id }}">
    <div class="tile-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="container-fluid p-0">
        <div class="" style="text-align: center; height:33%; color: white">

            <div class="row h-100 my-auto">
                <div class="col-sm-12 my-auto">
                    <h2 class="mx-auto" id="{{ tile_id }}-title">
                    </h2>
                    <h6 class="mx-auto" id="{{ tile_id }}-subtitle">
                    </h6>
                </div>
            </div>

        </div>
        <div class="w-100" style="text-align: center; height:47%; background-color: green; color: white;">
            <div class="row h-100 my-auto">
                <div class="col-sm-12 my-auto">
                    <div class="mx-auto display-3" id="{{ tile_id }}-big_value">
                    </div>
                </div>
            </div>

        </div>

        <div class="h-25 w-100" style="display: inline-flex; justify-content: center ;text-align: center">
            <div class="column1 w-100 m-1" style="">
                <div id="{{ tile_id }}-left_label" class=".row text-white"></div>
                <div id="{{ tile_id }}-left_value" class=".row text-white"><span></span></div>
            </div>
            <div style="border-left:1px solid #ffffff;width: 2px" class="m-2"></div>
            <div class="column1 w-100 m-1" style="float: right">
                <div id="{{ tile_id }}-right_label" class=".row center text-white"></div>
                <div id="{{ tile_id }}-right_value" class=".row center text-white"><span></span></div>
            </div>
        </div>

    </div>
</div>
