<div class="tile highlighter-tile simple-percentage-tile" id="{{ tile_id }}">
    <div class="tile-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="container-fluid p-0">
        <div class="" style="text-align: center; height:33%; background-color: pink;">
            <div class=".row" style="width:inherit;">
                <h3 id="{{ tile_id }}-title" class=".row" style="width:inherit;"></h3>
            </div>
            <div class=".row" style="width:inherit;">
                <h4 id="{{ tile_id }}-subtitle" class=".row"></h4>
            </div>
        </div>
        <div class="w-100" style="text-align: center; height:47%; background-color: green; color: white;">
            <p class="display-3 p-1" id="{{ tile_id }}-big_value" style="height: 100%;" ></p>
        </div>

        <div class="h-25 w-100" style="display: inline-flex; background-color: blue; justify-content: center ;text-align: center">
            <div class="column1 w-100 m-1" style="">
                <div id="{{ tile_id }}-left_label" class=".row"></div>
                <div id="{{ tile_id }}-left_value" class=".row"><span></span></div>
            </div>
            <div style="border-left:1px solid #11ffffff;width: 2px" class="m-2"></div>
            <div class="column1 w-100 m-1" style="float: right">
                <div id="{{ tile_id }}-right_label" class=".row center"></div>
                <div id="{{ tile_id }}-right_value" class=".row center"><span></span></div>
            </div>
        </div>

<!--
        <div class="h-25" style="display: block; background-color: blue;">
            <div class="column1" style="float: left">
                <div id="{{ tile_id }}-left_label" class=".row"></div>
                <div id="{{ tile_id }}-left_value" class=".row"><span></span></div>
            </div>
            <div class="column1" style="float: right">
                <div id="{{ tile_id }}-right_label" class=".row"></div>
                <div id="{{ tile_id }}-right_value" class=".row"><span></span></div>
            </div>
        </div>
 -->
    </div>
</div>
