{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Tipboard</title>
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <script src="{% static "js/jquery-3.4.1.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/chart.bundle.js" %}"></script>
        <script src="{% static "js/chartjs-plugin-trendline.min.js" %}"></script>
        <script src="{% static "js/chartjs-plugin-labels.min.js" %}"></script>
        <script src="{% static "js/chartjs-plugin-tsgauge.js" %}"></script>
        <script src="{% static "js/chartjs-plugin-radialgauge.js" %}"></script>
        <script src="{% static "js/chart-plugin-test-linearradial.js" %}"></script>

        {% for file in tipboard_css %}
            <link href="{% static file %}" rel="stylesheet" media="screen">
        {% endfor %}
        {% for file in tipboard_js %}
            <script src="{% static file %}"></script>
        {% endfor %}
        {% block head %} {% endblock %}
    </head>

    <body class="flipboard" style="background-color: #eceff1;
                      background-repeat: no-repeat;
                      background-position: center center;
                      background-size: 65%;">
        <div class="sticky-top alert alert-danger bouton-image monBouton" id="alertDeconnection"
                style='z-index:2;position:absolute;right:0;opacity: 0.55; margin: 1%; font-weight: bold'>
        </div>
        {% block put_body %} {% endblock %}
    <script> $("#alertDeconnection").hide(); </script>
    </body>
</html>
