{% load static %}
{% load template_filter %}

<div id="{{ color_mode }}___{{ page_title }}" class="grid fadeIn">
    {% for rows in layout %}
        {% for row, value in rows.items %}

            <div class="grid-group" id="{{ row }}">
                {% for col in value %}
                    {% for keyCol, valueCol in col.items %}
                        <div class="grid-cell" id="{{ keyCol }}">
                            <div class="card rounded">
                                {% for colData in valueCol %} <!-- get Template from tile in template filter -->
{#                                     {{ colData.tile_id|template_tile:colData }}#}
                                    {{ colData.tile_id|template_tile_dashboard:layout_name|template_tile_data:colData }}
                                {% endfor %}
                            </div>
                        </div>

                    {% endfor %}

                {% endfor %}
            </div>
        {% endfor %}

    {% endfor %}

</div>
