{% extends "base.html" %}
{% load static %}
{% load template_filter %}

{% block page_title %}{{ page_title }}{% endblock %}

{% block put_body %}

{#  <iframe src="" data-fliptime-interval="{{flipboard_interval}}"  style="height: 100%">#}
{#    <p> Your browser does not support iframes. </p><br>#}
{#    <p> Check your SysAdmin(Or Secu team), or uninstall I.E :) </p>#}
{#  </iframe>#}

      <div data-fliptime-interval="{{flipboard_interval}}" style="height: 100%" id="tipboardIframe">
        <p> Your browser does not support iframes. </p><br>
        <p> Check your SysAdmin(Or Secu team), or uninstall I.E :) </p>
      </div>


{% endblock %}


