{% load static %}

<!doctype html>
<html>

<head>
    <title>Bar Chart</title>
    <script src="{% static "js/chart.bundle.js" %}"></script>
    <script src="{% static "js/chart-plugin-test-linearradial.js" %}"></script>
    <style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
    </style>
</head>

<body>
   <div style="width: 30%; float: left; padding: 20px;">
        <p>Basic chart</p>
        <canvas id="canvas1" height="425" width="510" style="width: 510px; height: 425px;"></canvas>
    </div>
    <div style="width: 30%; float: left; padding: 20px;">
        <p>Chart with major and minor ticks, axis label units and few values</p>
        <canvas id="canvas2" height="425" width="511" style="width: 511px; height: 425px;"></canvas>
    </div>
    <div style="width: 30%; float: left; padding: 20px;">
        <p>Chart with custom ticks and label positions</p>
        <canvas id="canvas3" height="425" width="510" style="width: 510px; height: 425px;"></canvas>
    </div>
    <div style="width: 90%; float: left; padding: 0px;">
        <p>Chart with horizontal orientation</p>
        <canvas id="canvas4" height="235" width="968" style="width: 968px; height: 235px;"></canvas>
    </div>
    <div style="width: 90%; float: left; padding: 0px;">
        <p>One more chart with different styling</p>
        <canvas id="canvas5" height="235" width="968" style="width: 968px; height: 235px;"></canvas>
    </div>
    <div style="width: 30%; float: left; padding: 20px;">
        <p>Chart with scale color ranges</p>
        <canvas id="canvas6" height="425" width="510" style="width: 510px; height: 425px;"></canvas>
    </div>
    <div style="width: 30%; float: left; padding: 20px; height: auto;">
        <p>Updating values</p>
        <canvas id="canvas7" height="255" width="511" style="width: 511px; height: 255px;"></canvas>
    </div>
    <div style="width: 30%; float: left; padding: 20px;">
        <p>Color ranges</p>
        <div style="display: block; position: relative; float: left; width: 60%; height: 485px;">
            <div id='bg_image' style="display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-image: url('img/background.jpg');"></div>
        	<canvas id="canvas8" height="425" width="210" style="display: block; position: absolute; width: 210px; height: 425px; left: 0; top: 0;"></canvas>
        </div>
    </div>
    <div style="width: 30%; float: left; padding: 0px;">
        <p>Point indicator type</p>
        <div style="display: block; position: relative; float: left; width: 60%; height: 330px;">
            <div id='bg_image' style="display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-image: url('img/background.jpg');"></div>
            <canvas id="canvas9" height="300" width="212" style="display: block; position: absolute; width: 212px; height: 311px; left: 0; top: 0;"></canvas>
        </div>
    </div>
    <div style="width: 60%; float: left; padding: 20px;">
        <p>One more point indicator type</p>
        <canvas id="canvas10" height="408" width="981" style="width: 981px; height: 408px;"></canvas>
    </div>
    <div style="width: 46%; float: left; padding: 20px;">
        <p>One more point indicator type</p>
        <canvas id="canvas11" height="532" width="761" style="width: 761px; height: 532px;"></canvas>
    </div>
    <div style="width: 47%; float: left; padding: 20px;">
        <p>Custom image point indicator type</p>
        <canvas id="canvas12" height="543" width="777" style="width: 777px; height: 543px;"></canvas>
    </div>

    <script>

    var randomScalingFactor = function(k) {
        return Math.round(Math.random() * k)
    };


        var barChartData1 = {
        	labels: [],
        	datasets: [
        		{
        			label: 'data 1',
			        data: [370],
			        offset: 9,
			        hoverBackgroundColor: '#f40b9d',
			        backgroundColor: '#0fa',
			        width: 6
		    	},
		    	{
		    		label: 'data 2',
			        data: [470],
			        offset: 22,
			        hoverBackgroundColor: '#F99',
			        backgroundColor: '#0af',
			        width: 6
		    	},
		    	{
		    		label: 'data 3',
			        data: [-92],
			        offset: 15.5,
			        hoverBackgroundColor: '#59F',
			        backgroundColor: '#Fa3',
			        width: 6
		    	}
		    ]
		};
    var barChartData2 = {
        	labels: [],
        	datasets: [
        		{
        			label: 'Tom',
			        data: [70],
			        offset: 20,
			        hoverBackgroundColor: '#9bfd53',
			        backgroundColor: '#0fa'
		    	},
		    	{
		    		label: 'Jane',
			        data: [320],
			        offset: 30,
			        hoverBackgroundColor: '#fcf85a',
			        backgroundColor: '#fbf404'
		    	},
		    	{
		    		label: 'Erik',
			        data: [112],
			        offset: 40,
			        hoverBackgroundColor: '#fd6cd9',
			        backgroundColor: '#fb04bd',
			        width: 6
		    	}
		    ]
		};

    var barChartData3 = {
        	labels: [],
        	datasets: [
        		{
		    		label: 'Erik',
			        data: [112],
			        offset: 15,
			        hoverBackgroundColor: '#fd6cd9',
			        backgroundColor: '#fb04bd',
			        width: 10
		    	},
		    	{
		    		label: 'Jane',
			        data: [320],
			        width: 15,
			        offset: 19,
			        hoverBackgroundColor: '#fcf85a',
			        backgroundColor: '#fbf404'
		    	},
        		{
        			label: 'Tom',
			        data: [470],
			        offset: 24,
			        width: 23,
			        hoverBackgroundColor: '#9bfd53',
			        backgroundColor: '#0fa'
		    	},

		    ]
		};

    var barChartData4 = {
        	labels: [],
        	datasets: [
        		{
			        data: [70],
			        offset: 20,
			        hoverBackgroundColor: '#fd6cd9',
			        backgroundColor: '#fb04bd'
		    	},
		    	{
			        data: [320],
			        offset: 10,
			        hoverBackgroundColor: '#fcf85a',
			        backgroundColor: '#fbf404'
		    	},
        		{
			        data: [112],
			        offset: 30,
			        hoverBackgroundColor: '#9bfd53',
			        backgroundColor: '#0fa'
		    	},

		    ]
		};

    var barChartData5 = {
        	labels: [],
        	datasets: [
        		{
			        data: [2.2],
			        width: 12,
        			offset: -7,
			        hoverBackgroundColor: '#fd6cd9',
			        backgroundColor: '#e1e113'
		    	},
		    	{
			        data: [3.5],
			        width: 4,
        			offset: -3,
			        hoverBackgroundColor: '#fcf85a',
			        backgroundColor: '#fd97e3'
		    	},
        		{
			        data: [-1.1],
			        width: 8,
        			offset: -5,
			        hoverBackgroundColor: '#9bfd53',
			        backgroundColor: '#fe1230'
		    	},

		    ]
		};

    var barChartData6 = {
    		labels: [],
        	datasets: [
        		{
			        data: [157],
        			offset: 25,
			        hoverBackgroundColor: '#fd6cd9',
			        backgroundColor: '#e1e113'
		    	},
    	]};
    var barChartData7 = {
        labels: [],
        datasets: [{
                data: [44],
                offset: 8,
                width: 8,
                backgroundColor: '#352bfd',
                label: 'Meat'
            }, {
                data: [34],
                offset: 17,
                width: 8,
                backgroundColor: '#e89a17',
                label: 'Milk'
            }, {
                data: [44],
                offset: 26,
                width: 8,
                backgroundColor: '#ef031f',
                label: 'Fruits'
            }, {
                data: [28],
                offset: 35,
                width: 8,
                backgroundColor: '#fc03ef',
                label: 'Chocolate'
            }]
        };
    var barChartData8 = {
        labels: [],
        datasets: [{
                data: [39],
                offset: 8,
                backgroundColor: '#352bfd',
                colorRanges: [{
                        startpoint: -50,
                        breakpoint: -30,
                        //color: '#6154ab'
                        color: 'rgba(97, 84, 171, 0.4)'
                    }, {
                        startpoint: -30,
                        breakpoint: 30,
                        //color: '#74f40b'
                        color: 'rgba(116, 244, 11, 0.4)'
                    }, {
                        startpoint: 30,
                        breakpoint: 50,
                        //color: '#fd0902'
                        color: 'rgba(253, 9, 2, 0.4)'
                }]
            }, {
                data: [39],
                offset: 17,
                backgroundColor: '#352bfd',
                colorRanges: [{
                        startpoint: -60,
                        breakpoint: -10,
                        //color: '#6154ab'
                        color: 'rgba(97, 84, 171, 0.4)'
                    }, {
                        startpoint: -30,
                        breakpoint: 30,
                        //color: '#74f40b'
                        color: 'rgba(116, 244, 11, 0.4)'
                    }, {
                        startpoint: 30,
                        breakpoint: 50,
                        //color: '#fd0902'
                        color: 'rgba(253, 9, 2, 0.4)'
                }]
            }, {
                data: [39],
                offset: 26,
                backgroundColor: '#352bfd',
                colorRanges: [{
                        startpoint: -50,
                        breakpoint: -30,
                        //color: '#6154ab'
                        color: 'rgba(97, 84, 171, 0.4)'
                    }, {
                        startpoint: -30,
                        breakpoint: 30,
                        //color: '#74f40b'
                        color: 'rgba(116, 244, 11, 0.4)'
                    }, {
                        startpoint: 30,
                        breakpoint: 50,
                        //color: '#fd0902'
                        color: 'rgba(253, 9, 2, 0.4)'
                }]
            }
        ]
    }
    var barChartData9 = {labels: [], datasets: []};
    barChartData9.datasets.push({
        data: [0],
        pointer: 'point',
        shape: 'circle',
        width: 12,
        offset: 7,
        backgroundColor: 'red',
        label: 'Flat'
    });
    barChartData9.datasets.push({
        data: [0],
        pointer: 'point',
        shape: 'rect',
        width: 12,
        height: 12,
        offset: 12,
        backgroundColor: 'blue',
        label: 'House'
    });
    barChartData9.datasets.push({
        data: [0],
        pointer: 'point',
        shape: 'triangle',
        width: 12,
        height: 12,
        offset: 17,
        backgroundColor: 'green',
        label: 'Office'
    });

    var barChartData10 = {labels: [], datasets: []};
    barChartData10.datasets.push({
        data: [0],
        pointer: 'point',
        shape: 'triangle',
        width: 18,
        height: 25,
        offset: 8,
        backgroundColor: '#1b02f7',
        colorRanges: [{
            startpoint: -150,
            breakpoint: -100,
            color: '#1b02f7'
        }, {
            startpoint: -100,
            breakpoint: -30,
            color: '#8888fb'
        }, {
            startpoint: -30,
            breakpoint: 30,
            color: '#31d801'
        }, {
            startpoint: 30,
            breakpoint: 100,
            color: '#e1e10d'
        }, {
            startpoint: 100,
            breakpoint: 150,
            color: '#d90000'
        }],
        tooltipRanges: [{
            startpoint: -150,
            breakpoint: -100,
            tooltip: 'Very Low'
        }, {
            startpoint: -20,
            breakpoint: 20,
            tooltip: 'Normal'
        }, {
            startpoint: 100,
            breakpoint: 150,
            tooltip: 'High'
        }]
    });
    barChartData10.datasets.push({
        data: [75],
        pointer: 'point',
        shape: 'inverted-triangle',
        width: 9,
        height: 12,
        offset: -16,
        backgroundColor: '#a9abb8'
    });
    barChartData10.datasets.push({
        data: [-75],
        pointer: 'point',
        shape: 'inverted-triangle',
        width: 9,
        height: 12,
        offset: -16,
        backgroundColor: '#a9abb8'
    });

    var barChartData11 = {labels: [], datasets: []};
    var bar11textbg = 0;
    barChartData11.datasets.push({
        data: [3],
        pointer: 'point',
        shape: 'triangle',
        width: 9,
        height: 12,
        offset: 14,
        backgroundColor: '#32fd06'
    });
    barChartData11.datasets.push({
        data: [-3],
        pointer: 'point',
        shape: 'triangle',
        width: 9,
        height: 12,
        offset: 14,
        backgroundColor: '#32fd06'
    });
    barChartData11.datasets.push({
        data: [7],
        pointer: 'point',
        shape: 'triangle',
        width: 9,
        height: 12,
        offset: 14,
        backgroundColor: '#fef105'
    });
    barChartData11.datasets.push({
        data: [-7],
        pointer: 'point',
        shape: 'triangle',
        width: 9,
        height: 12,
        offset: 14,
        backgroundColor: '#fef105'
    });
    barChartData11.datasets.push({
        data: [12],
        pointer: 'point',
        shape: 'triangle',
        width: 9,
        height: 12,
        offset: 14,
        backgroundColor: '#fe0c05'
    });
    barChartData11.datasets.push({
        data: [-12],
        pointer: 'point',
        shape: 'triangle',
        width: 9,
        height: 12,
        offset: 14,
        backgroundColor: '#fe0c05'
    });
    barChartData11.datasets.push({
        data: [0],
        pointer: 'point',
        shape: 'bowtie',
        width: 46,
        height: 16,
        offset: 0,
        backgroundColor: '#1b02f7',
        colorRanges: [{
            startpoint: -15,
            breakpoint: -10,
            color: 'red'
        }, {
            startpoint: -10,
            breakpoint: -5,
            color: '#f7f706'
        }, {
            startpoint: -5,
            breakpoint: 5,
            color: '#49f906'
        }, {
            startpoint: 5,
            breakpoint: 10,
            color: '#f7f706'
        }, {
            startpoint: 10,
            breakpoint: 15,
            color: 'red'
        }]
    });
    barChartData11.datasets.push({
        data: [10],
        pointer: 'point',
        shape: 'diamond',
        width: 46,
        height: 16,
        offset: 0,
        backgroundColor: '#65f305',
        colorRanges: [{
            startpoint: -15,
            breakpoint: -10,
            color: 'blue'
        }, {
            startpoint: -10,
            breakpoint: 10,
            color: '#49f906'
        }, {
            startpoint: 10,
            breakpoint: 15,
            color: 'blue'
        }]
    });
    barChartData11.datasets.push({
        data: [4],
        width: 8,
        height: 16,
        offset: -35,
        backgroundColor: '#b08948',
        colorRanges: [{
            startpoint: -15,
            breakpoint: -13,
            color: 'red'
        }, {
            startpoint: -13,
            breakpoint: 13,
            color: 'green'
        }, {
            startpoint: 13,
            breakpoint: 15,
            color: 'red'
        }]
    });
    barChartData11.datasets.push({
        data: [0],
        pointer: 'text',
        text: 'Pointer Text',
        fontSize: 21,
        fontFamily: 'Arial',
        offset: 0,
        rotate: 0,
        textPosition: 'center',
        backgroundColor: '#f00',
        colorRanges: [{
                startpoint: -15,
                breakpoint: -5,
                //color: '#6154ab'
                color: 'rgba(97, 84, 171, 0.7)'
            }, {
                startpoint: -5,
                breakpoint: 5,
                //color: '#74f40b'
                color: 'rgba(116, 244, 11, 0.7)'
            }, {
                startpoint: 5,
                breakpoint: 15,
                //color: '#fd0902'
                color: 'rgba(253, 9, 2, 0.7)'
        }],
        textRanges: [{
                startpoint: -15,
                breakpoint: -5,
                text: 'Low'
            }, {
                startpoint: -5,
                breakpoint: 5,
                text: 'Normal'
            }, {
                startpoint: 5,
                breakpoint: 15,
                text: 'High'
        }]
    });
    barChartData11.datasets.push({
        data: [bar11textbg],
        pointer: 'text',
        text: 'Pointer Text',
        fontSize: 21,
        fontFamily: 'Arial',
        offset: -150,
        rotate: 0,
        textPosition: 'center',
        backgroundColor: '#eef',
        textRanges: [{
                startpoint: -15,
                breakpoint: -5,
                text: 'Bad'
            }, {
                startpoint: -5,
                breakpoint: 5,
                text: 'Good'
            }, {
                startpoint: 5,
                breakpoint: 15,
                text: 'Excellent'
        }]
    });
    barChartData11.datasets.push({
        data: [bar11textbg],
        width: 170,
        height: 120,
        offset: -150,
        img: 'img/diamond3.png'
    });

    var barChartData12 = {labels: [], datasets: []};
    barChartData12.datasets.push({
        data: [4],
        width: 30,
        height: 40,
        offset: -17,
        img: 'img/hand-pointer.png'
    });
    barChartData12.datasets.push({
        data: [0],
        width: 30,
        height: 30,
        offset: 0,
        img: 'img/diamond3.png'
    });
    barChartData12.datasets.push({
        data: [0],
        width: 30,
        height: 30,
        offset: 0,
        img: 'img/shapes7.png'
    });
    barChartData12.datasets.push({
        data: [4],
        width: 30,
        height: 40,
        offset: 57,
        img: 'img/hand-pointer.png',
        imageRanges: [{
            startpoint: -10,
            breakpoint: 0,
            img: 'img/diamond3.png'
        }, {
            startpoint: 15,
            breakpoint: 25,
            img: 'img/shapes7.png'
        }]
    });
    </script>
    <script>
    window.onload = function() {
        var ctx1 = document.getElementById("canvas1").getContext("2d");
        window.myBar1 = new Chart(ctx1, {
            type: 'linearGauge',
            data: barChartData1,
            options: {
                backgroundImage: 'background.jpg',
                scale: {
                    horizontal: false,
                    range: {
                        startValue: 0,
                        endValue: 500
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 6,
                    ticks: {
                        majorTicks: {
                            interval: 100,
                            height: 1,
                        },
                        minorTicks: {
                            interval: 25,
                            height: 1,
                        }
                    },
                    scaleLabel: {
                        display: true,
                        interval: 50,
                        units: '',
                        customValues: [],
                        offset: -26,
                        color: '#777b80'
                    }
                },
                legend: {
		            display: true,
		            labels: {
		                fontColor: 'rgb(255, 99, 132)'
		            },
		            position: 'top'
		        }
            }
        });

        var ctx2 = document.getElementById("canvas2").getContext("2d");
        window.myBar2 = new Chart(ctx2, {
            type: 'linearGauge',
            data: barChartData2,
            options: {
                scale: {
                    range: {
                        startValue: -100,
                        endValue: 500
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 6,
                    axisColor: '#3c5b8a',
                    ticks: {
                        tickLabels: {
                            interval: 50
                        },
                        majorTicks: {
                            interval: 100,
                            customValues: [],
                            width: 6,
                            height: 2,
                            offset: 0,
                            color: '#fff'
                        },
                        minorTicks: {
                            interval: 50,
                            customValues: [],
                            width: 3,
                            height: 1,
                            offset: -1.5,
                            color: '#fff'
                        }
                    },
                    scaleLabel: {
                        display: true,
                        interval: 100,
                        units: '$',
                        customValues: [],
                        offset: -16,
                        color: '#3c5b8a'
                    }
                },
            	legend: {
		            position: 'left'
		        }
            }
        });

        var ctx3 = document.getElementById("canvas3").getContext("2d");
        window.myBar3 = new Chart(ctx3, {
            type: 'linearGauge',
            data: barChartData3,
            options: {
                scale: {
                    horizontal: false,
                    range: {
                        startValue: -100,
                        endValue: 500
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 10
                    },
                    axisWidth: 6,
                    axisColor: '#9e343f',
                    ticks: {
                        tickLabels: {
                            interval: 50
                        },
                        majorTicks: {
                            interval: 100,
                            customValues: [-20, 0, 50, 110, 130, 200, 500],
                            width: 6,
                            height: 1,
                            offset: 0,
                            color: '#fff'
                        }
                    },
                    scaleLabel: {
                        display: true,
                        units: '%',
                        interval: 100,
                        customValues: [-20, 0, 50, 110, 130, 200, 500],
                        offset: -9,
                        color: '#777b80'
                    }
                },
            	legend: {
		            position: 'bottom'
		        }

            }
        });

        var ctx4 = document.getElementById("canvas4").getContext("2d");
        window.myBar4 = new Chart(ctx4, {
        	type: 'linearGauge',
            data: barChartData4,
            options: {
                responsive: true,
                animationEasing: "easeOutElastic",
                scale: {
                	horizontal: true,
                    range: {
                        startValue: 0,
                        endValue: 500
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 4,
                    axisColor: '#c4c4c4',
                    ticks: {
                        majorTicks: {
                            interval: 100,
                            customValues: [],
                            width: 6,
                            height: 1,
                            offset: 0,
                            color: '#fff'
                        }
                    },
                    scaleLabel: {
                        display: true,
                        units: '$',
                        interval: 100,
                        offset: -9,
                        color: '#777b80'
                    }
                },
            	legend: {
		            display: false
		        }
            }

        });

        var ctx5 = document.getElementById("canvas5").getContext("2d");
        window.myBar5 = new Chart(ctx5, {
        	type: 'linearGauge',
            data: barChartData5,
            options: {
                responsive: true,
                animationEasing: "easeOutElastic",
                scale: {
                	horizontal: true,
                    range: {
                        startValue: -2,
                		endValue: 5.5
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 35,
                    axisColor: '#B3B9F0',
                    ticks: {
                        majorTicks: {
                            interval: 1,
                            customValues: [],
                            width: 6,
                            height: 1,
                            offset: -16,
                            color: '#fff'
                        }
                    },
                    scaleLabel: {
                        display: true,
                        units: 'V',
                        interval: 1,
                        offset: 22,
                        color: '#777b80'
                    }
                },
            	legend: {
		            display: false
		        }
            }

        });

        var ctx6 = document.getElementById("canvas6").getContext("2d");
        window.myBar6 = new Chart(ctx6, {
        	type: 'linearGauge',
            data: barChartData6,
            options: {
                responsive: true,
                animationEasing: "easeInBounce",
                scale: {
                	horizontal: false,
                    range: {
                        startValue: -100,
                		endValue: 200
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 5,
                    axisColor: '#c5c7cf',
                    ticks: {
                        majorTicks: {
			                interval: 0,
			                height: 2
			            },
			            minorTicks: {
			                interval: 25,
			                width: 2,
			                offset: -2
			            },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 100,
                        units: '',
                        offset: -22,
                        color: '#3fd91e'
                    },
                    scaleColorRanges: [{
		                start: -50,
		                end: 30,
		                color: '#fe5066'
		            }, {
		                start: 30,
		                end: 130,
		                color: '#82e668'
		            }, {
		                start: 130,
		                end: 180,
		                color: '#1224fc'
		            }],
                },
            	legend: {
		            display: false
		        }
            }

        });

        var ctx7 = document.getElementById("canvas7").getContext("2d");
        window.myBar7 = new Chart(ctx7, {

            type: 'linearGauge',
            data: barChartData7,
            options: {
                responsive: true,
                scale: {
                    horizontal: true,
                    range: {
                        startValue: -50,
                        endValue: 50
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 7,
                    axisColor: '#FAF',
                    ticks: {
                        majorTicks: {
                            interval: 0,
                            height: 6
                        },
                        minorTicks: {
                            interval: 25,
                            width: 4,
                            offset: -2
                        },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 25,
                        units: '',
                        offset: -22,
                        color: '#5f5f5f'
                    },
                    scaleColorRanges: [{
                        start: -20,
                        end: 0,
                        color: '#fe5066'
                    }, {
                        start: 30,
                        end: 50,
                        color: '#1224fc'
                    }],
                },
                legend: {
                    display: true,
                    position: 'bottom'
                }
            }

        });

        setInterval(function() {
            for (var i = 0; i < barChartData7.datasets.length; i++) {
                barChartData7.datasets[i].data = [randomScalingFactor(90) - 50];
            }
            window.myBar7.update();
        }, 10000);


        var ctx8 = document.getElementById("canvas8").getContext("2d");
        window.myBar8 = new Chart(ctx8, {

            type: 'linearGauge',
            data: barChartData8,
            options: {
                responsive: true,
                scale: {
                    horizontal: false,
                    range: {
                        startValue: -50,
                        endValue: 50
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 7,
                    axisColor: '#c5c7cf',
                    ticks: {
                         majorTicks: {
                            interval: 0,
                            height: 2
                        },
                        minorTicks: {
                            interval: 25,
                            width: 2,
                            offset: -2
                        },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 25,
                        units: '',
                        offset: -22,
                        color: '#5f5f5f'
                    },
                    scaleColorRanges: [{
                        start: 30,
                        end: 50,
                        //color: '#fe5066'
                        color: 'rgba(254, 80, 102, 0.3)'
                    }, {
                        start: -50,
                        end: -30,
                        color: '#1224fc'
                    }],
                },
                legend: {
                    display: false,
                    position: 'bottom'
                }
            }

        });

        setInterval(function() {
            barChartData8.datasets[0].data = [randomScalingFactor(90) - 45];
            barChartData8.datasets[1].data = [randomScalingFactor(90) - 45];
            barChartData8.datasets[2].data = [randomScalingFactor(90) - 45];
            window.myBar8.update();
        }, 3000);


        var ctx9 = document.getElementById("canvas9").getContext("2d");
        window.myBar9 = new Chart(ctx9, {
            type: 'linearGauge',
            data: barChartData9,
            options: {
                responsive: true,
                scale: {
                    horizontal: false,
                    range: {
                        startValue: -150,
                        endValue: 150
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 12
                    },
                    axisWidth: 0,
                    axisColor: '#c5c7cf',
                    ticks: {
                        majorTicks: {
                            interval: 50,
                            width: 6,
                            height: 2,
                            offset: 1,
                            color: '#fe013a'
                        },
                        minorTicks: {
                            interval: 6.25,
                            width: 2,
                            height: 2,
                            offset: 0,
                            color: '#e1f305'
                        },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 50,
                        units: 'kW',
                        offset: -22,
                        color: '#5f5f5f'
                    },
                },
                legend: {
                    display: true,
                    position: 'left'
                }
            }

        });

        setInterval(function() {
            barChartData9.datasets[0].data = [randomScalingFactor(280) - 140];
            barChartData9.datasets[1].data = [randomScalingFactor(280) - 140];
            barChartData9.datasets[2].data = [randomScalingFactor(280) - 140];
            window.myBar9.update();
        }, 4000);

		var ctx10 = document.getElementById("canvas10").getContext("2d");
        window.myBar10 = new Chart(ctx10, {
            type: 'linearGauge',
            data: barChartData10,
            options: {
                responsive: true,
                scale: {
                    horizontal: true,
                    range: {
                        startValue: -150,
                		endValue: 150
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 8
                    },
                    axisWidth: 8,
                    axisColor: '#c5c7cf',
                    ticks: {
                         majorTicks: {
			                interval: 50,
			                width: 8,
			                height: 1,
			                offset: 1,
			                color: '#000'
			            },
			            minorTicks: {
			                interval: 12.5,
			                width: 3,
			                height: 1,
			                offset: 0,
			                color: '#000'
			            },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 50,
		                units: 'mA',
		                offset: -17,
                        color: '#0f0f0f'
                    },
                    scaleColorRanges: [{
		                start: -150,
		                end: -100,
		                color: '#1b02f7'
		            }, {
		                start: -100,
		                end: -30,
		                color: '#8888fb'
		            }, {
		                start: -30,
		                end: 30,
		                color: '#47fe12'
		            }, {
		                start: 30,
		                end: 100,
		                color: '#e1e10d'
		            }, {
		                start: 100,
		                end: 150,
		                color: '#fe1229'
		            }],
                },
                legend: {
                    display: false,
                    position: ''
                }
            }

        });

        setInterval(function() {
            barChartData10.datasets[0].data = [randomScalingFactor(280) - 140];
            window.myBar10.update();
        }, 3000);

		var ctx11 = document.getElementById("canvas11").getContext("2d");
        window.myBar11 = new Chart(ctx11, {
            type: 'linearGauge',
            data: barChartData11,
            options: {
                responsive: true,
                backgroundImage: 'background.jpg',
                scale: {
                    horizontal: false,
                    range: {
                        startValue: -15,
                		endValue: 15
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 10
                    },
                    axisWidth: 40,
                    axisColor: '#e9eaed',
                    ticks: {
                         majorTicks: {
			                interval: 5,
			                width: 30,
			                height: 1,
			                offset: 0,
			                color: '#a9adb8'
			            },
			            minorTicks: {
			                interval: 1,
			                width: 20,
			                height: 1,
			                offset: 0,
			                color: '#cfd2d8'
			            },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 5,
		                units: '%',
		                offset: 24,
		                color: 'red'
                    },

                },
                legend: {
                    display: false,
                    position: 'bottom'
                }
            }

        });

        setInterval(function() {
            barChartData11.datasets[6].data = [randomScalingFactor(28) - 14];
            barChartData11.datasets[7].data = [randomScalingFactor(28) - 14];
            barChartData11.datasets[8].data = [randomScalingFactor(28) - 14];
            barChartData11.datasets[9].data = [randomScalingFactor(28) - 14];
            bar11textbg = randomScalingFactor(28) - 14;
            barChartData11.datasets[10].data = [bar11textbg];
            barChartData11.datasets[11].data = [bar11textbg];
            window.myBar11.update();
        }, 3000);

		var ctx12 = document.getElementById("canvas12").getContext("2d");
        window.myBar12 = new Chart(ctx12, {
            type: 'linearGauge',
            data: barChartData12,
            options: {
                responsive: true,
                scale: {
                    horizontal: true,
                    range: {
                        startValue: -10,
                        endValue: 25
                    },
                    responsive: true,
                    font: {
                        fontName: 'Arial',
                        fontSize: 10
                    },
                    axisColor: '#484284',
                    axisWidth: 4,
                    ticks: {
                        majorTicks: {
                            interval: 5,
                            width: 3,
                            height: 1,
                            offset: 0,
                            color: '#f3f4f5'
                        },
                        minorTicks: {
                            interval: 1,
                            width: 2,
                            height: 1,
                            offset: 0,
                            color: '#f4f5f7'
                        },
                    },
                    scaleLabel: {
                        display: true,
                        interval: 5,
                        units: '%',
                        offset: 24,
                        color: 'red'
                    },

                },
                legend: {
                    display: false,
                    position: 'bottom'
                }
            }

        });

        //window.myBar12.generateLegend();
        setInterval(function() {
            barChartData12.datasets[0].data = [randomScalingFactor(35) - 10];
            barChartData12.datasets[1].data = [randomScalingFactor(35) - 10];
            barChartData12.datasets[2].data = [randomScalingFactor(35) - 10];
            barChartData12.datasets[3].data = [randomScalingFactor(35) - 10];
            window.myBar12.update();
        }, 2000);





    };
    </script>
</body>

</html>
