/*  ---------------------------------------------------------------------------------------------------------

    Project:    Tipboard
    Author:     ...
    Date:       2013/11/28

------------------------------------------------------------------------------------------------------------- */

html, body {
    height: 100%;
}

body {
    background: #1c1d1f;
    color: #c7cbd2;
    font-family:'misolight',"Trebuchet MS", Arial, sans-serif;
    min-width: 1024px;
    width: 100%;
    min-height: 768px;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'misolight';
    src: url('/static/fonts/miso-light-webfont.eot');
    src: url('/static/fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/miso-light-webfont.woff') format('woff'),
         url('/static/fonts/miso-light-webfont.ttf') format('truetype'),
         url('/static/fonts/miso-light-webfont.svg#misolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'misoregular';
    src: url('/static/fonts/miso-webfont.eot');
    src: url('/static/fonts/miso-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/miso-webfont.woff') format('woff'),
         url('/static/fonts/miso-webfont.ttf') format('truetype'),
         url('/static/fonts/miso-webfont.svg#misoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
