name: Flake8 check by Github

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage pytest-django pytest-asyncio
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # The GitHub editor is 127 chars wide, but pycharm is not :D
        flake8 . --count --max-complexity=10 --max-line-length=150 --statistics --ignore=E401,W605
    - name: Run coverage
      run: |
        coverage run --source='.' --rcfile=.coveragerc src/manage.py test  -v 2
        coverage report
